<div>
	<div class="card my-3 d-flex flex-row">
		<div class="card-body p-3 flex-grow-1 flex-shrink-0">
			<code>this.searchControl.<span class="text-success">valueChanges</span> </code>
		</div>

		<div class="card-body output p-3 bg-light flex-grow-0 flex-shrink-0">
			<span class="badge badge-primary">{{ inputValue }}</span>
		</div>
	</div>

	<div class="card my-3 pl-4">
		<div class="card-body p-3">
			<code>.pipe(</code>
		</div>
	</div>

	<div class="card my-3 pl-4 d-flex flex-row">
		<div class="card-body p-3 flex-grow-0 flex-shrink-0">
			<input type="radio" name="gate" [value]="StreamGate.DEBOUNCE" [(ngModel)]="streamGate" />
		</div>

		<div class="card-body p-3 flex-grow-1 flex-shrink-0">
			<code class="ml-4">
				debounceTime(<span class="text-primary">{{ debounceDelay }}</span
				>),
			</code>
		</div>

		<div class="card-body output p-3 bg-light flex-grow-0 flex-shrink-0">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				version="1.1"
				viewBox="0 0 64 64"
				preserveAspectRatio="xMinYMin meet"
				class="debounceDelay"
			>
				<circle
					cx="32"
					cy="32"
					r="24"
					fill="none"
					stroke="#00CC33"
					stroke-width="8"
					[attr.stroke-dasharray]="calculateDashArray(debounceProgress)"
					transform="rotate(-90,32,32)"
				/>
			</svg>
		</div>
	</div>

	<div class="card my-3 pl-4  d-flex flex-row">
		<div class="card-body p-3 flex-grow-0 flex-shrink-0">
			<input type="radio" name="gate" [value]="StreamGate.MAP" [(ngModel)]="streamGate" />
		</div>

		<div class="card-body p-3 flex-grow-1 flex-shrink-0">
			<code class="ml-4"> map(<span class="text-primary">query => query.trim()</span>), </code>
		</div>

		<div class="card-body output p-3 bg-light flex-grow-0 flex-shrink-0">
			<span class="badge badge-primary">{{ trimmed }}</span>
		</div>
	</div>

	<div class="card my-3 pl-4  d-flex flex-row">
		<div class="card-body p-3 flex-grow-0 flex-shrink-0">
			<input type="radio" name="gate" [value]="StreamGate.DISTINCT_UNTIL_CHANGED" [(ngModel)]="streamGate" />
		</div>

		<div class="card-body p-3 flex-grow-1 flex-shrink-0">
			<code class="ml-4"> distinctUntilChanged(<span class="text-primary">(x, y) => x === y)</span>), </code>
		</div>

		<div class="card-body output p-3 bg-light flex-grow-0 flex-shrink-0">
			<span class="badge badge-primary">{{ distinctComparisons?.x.toString() }}</span>
			<span class="badge badge-primary">{{ distinctComparisons?.y.toString() }}</span>
			<span class="badge badge-primary">{{ distinctComparisons?.distinct }}</span>
		</div>
	</div>

	<div class="card my-3 pl-4  d-flex flex-row">
		<div class="card-body p-3 flex-grow-0 flex-shrink-0">
			<input type="radio" name="gate" [value]="StreamGate.SWITCH_MAP" [(ngModel)]="streamGate" />
		</div>

		<div class="card-body p-3 flex-grow-1 flex-shrink-0">
			<code class="ml-4 d-block">
				switchMap(<span class="text-primary"
					>(query) => {{ '{' }}
					<div class="ml-4">
						if (query.length > 2) {{ '{' }}
						<div class="ml-4">
							return this.futuramaService.findCharacterByName(query);
						</div>
						{{ '}' }}
					</div>
					<div class="ml-4">return ObservableOf(null);</div>
					{{ '}' }}</span
				>),
			</code>
		</div>

		<div class="card-body output p-3 bg-light flex-grow-0 flex-shrink-0"></div>
	</div>

	<div class="card my-3 pl-4">
		<div class="card-body p-3">
			<code>);</code>
		</div>
	</div>
</div>
