.main {
	display: grid;
	grid-template-columns: [left] 4fr [right] 8fr;
	grid-template-rows: [top] auto [bottom] auto;
	// grid-template-columns: 4fr  8fr;
	// grid-template-rows: 1fr 1fr;
	grid-template-areas:
		'output code'
		'graph graph';
}

.output {
	//   grid-column: output;
	grid-area: output;
	// background-color: blue;
}

.code {
	grid-area: code;
	// background-color: green;
}

.graph {
	grid-area: graph;
	// background-color: green;
}
