<main class="main">
	<section class="output p-3">
		<input [formControl]="searchControl" type="search" class="form-control py-2 px-4" placeholder="Infosphere Search" />
		<ul *ngFor="let character of (searchResults$ | async)?.characters; index as i; trackBy: searchResultsTrackBy" class="list-group">
			<li class="list-group-item rounded-0 py-2 px-4">
				<app-character-card [character]="character"></app-character-card>
			</li>
		</ul>
	</section>

	<section class="code bg-light p-3">
		<app-code-view
			[inputValue]="inputValue$ | async"
			[debounceProgress]="progress$ | async"
			[debounceDelay]="debounceDelay"
			[trimmed]="trimmed$ | async"
			[distinctComparisons]="distinctComparisons$ | async"
		></app-code-view>
	</section>

	<section class="graph p-3">
		<app-graph></app-graph>
	</section>
</main>
