/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap.scss";

// html {
//   box-sizing: border-box;
// }

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

// html, body {
//   margin: 0;
//   padding: 0;
// }
