:host {
	display: block;
	width: 100%;
	height: 100%;
	background: green;
}

$offset: 160px;

.graph {
	// width: $offset * 7;
	// height: 3/4 * $offset * 7;
	width: 100%;
	height: 100%;

	.stream {
		transform: translate($offset, $offset);

		.node {
			// fill: blue;
		}

		.label {
			text-anchor: middle;
			fill: white;
			font-family: 'Courier New', Courier, monospace;
		}

		.path {
			stroke: black;
			stroke-width: 4px;
			stroke-dasharray: $offset * 5 100%;
		}

		.valueChanges {
			transform: translate($offset * 0, 0);
		}

		.debounceTime {
			transform: translate($offset * 1, 0);
		}

		.map {
			transform: translate($offset * 2, 0);
		}

		.distinctUntilChanged {
			transform: translate($offset * 3, 0);
		}

		.switchMap {
			transform: translate($offset * 4, 0);
		}

		.result {
			transform: translate($offset * 5, 0);
		}
	}
}
