<svg class="graph" version="1.1" viewBox="0 0 1120 840" preserveAspectRatio="xMidYMid contain">
	<g class="stream">
		<line class="path" x1="0" y1="0" x2="100%" y2="0" />

		<g class="valueChanges">
			<circle class="node" cx="0" cy="0" r="20" />
			<text class="label" x="0" y="40">valueChanges</text>
		</g>

		<g class="debounceTime">
			<circle class="node" cx="0" cy="0" r="20" />
			<text class="label" x="0" y="40">debounceTime</text>
		</g>

		<g class="map">
			<circle class="node" cx="0" cy="0" r="20" />
			<text class="label" x="0" y="40">map</text>
		</g>

		<g class="distinctUntilChanged">
			<circle class="node" cx="0" cy="0" r="20" />
			<text class="label" x="0" y="40">distinctUntilChanged</text>
		</g>

		<g class="switchMap">
			<circle class="node" cx="0" cy="0" r="20" />
			<text class="label" x="0" y="40">switchMap</text>
		</g>

		<g class="result">
			<circle class="node" cx="0" cy="0" r="20" />
			<text class="label" x="0" y="40">result</text>
		</g>
	</g>
</svg>
<!-- <canvas #canvas class="canvas"></canvas> -->
