<article class="d-flex character">
  <img
    class="thumbnail rounded-circle flex-grow-0 flex-shrink-0 mr-3"
    [src]="character.thumbnail ? character.thumbnail : './assets/empty-jar.jpg'"
    title="{{ character.title }}"
  />
  <div class="details flex-grow-1 flex-shrink-0">
    <h1 class="title title m-0 h5">{{ character.title }}</h1>
    <small class="id text-muted">{{ character.id }}</small>
  </div>
</article>
